body {
    background-color : black;
    color:black;
    font-family: 'Franklin Gothic Medium', sans-serif,sans-serif;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: orange;
}

section {
color:white;
}

.section{
    border: 2px solid orange;
    margin: 20px 10px 30px 10px;
    padding: 30px 10px 20px 10px;
    position: relative;
}

.section-title{
    position:absolute;
    top: 0px;
    right: 0px;
    padding: 5px;

}

#section li div {
    color:orange;
}

.All-image {
    position: relative;
    width: 150px; 
    height: auto; 
    left:0px;
    top:0px;
}

.pizza-image {
    position: relative;
    width: 300px; 
    height: auto; 
   
}
.fajita-image {
    position: relative;
    width: 300px; 
    height: auto; 
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
    .section {
        float: left;
        width: 30%;
    }

    .All-image{
        width:50px
    }
    .pizza-image {
        width:100px;
    }
    .fajita-image {
        width:90px
    }
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    #section1, #section2 {
        float: left;
        width: 43%;
    }

    #section3 {
        clear: both; /* Clear floats */
        width: 92%;
    }
}

/* Small screens (767px and below) */
@media (max-width: 767px) {
    .section {
        width: 92%;
    }
}
